<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Overview</span>
            <h3 class="page-title">Data Tables</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Default Light Table -->
    <div class="row">
        <div class="col">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Monitored Books</h6>
                </div>
                <div class="card-body p-0 pb-3 text-center">
                    <table class="table mb-0">
                        <thead class="bg-light">
                            <tr>
                                <th scope="col" class="border-0">#</th>
                                <th scope="col" class="border-0">Title</th>
                                <th scope="col" class="border-0">Amazon Link</th>
                                <th scope="col" class="border-0">Author Email</th>
                                <th scope="col" class="border-0">Statistics</th>
                                <th scope="col" class="border-0">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each books}}
                            <tr>
                                <td>{{inc @key}}</td>
                                <td>{{this.title}}</td>
                                <td><a href="{{this.amazonUrl}}">Go To Amazon</a></td>
                                <td>{{this.authorEmail}}</td>
                                <td>
                                    <a href="/book/stat/{{this._id}}">
                                        <i class="material-icons">insert_chart</i>
                                    </a>
                                </td>
                                <td>
                                    <a href="/book/{{this._id}}">
                                        <i class="material-icons">create</i>
                                    </a>
                                    <a href="/book/stat/{{this._id}}">
                                        <i class="material-icons">clear</i>
                                    </a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{#unless books}}
    <div class="row justify-content-center align-items-center">
        <p>There are no books currently. Please <a href="/books/add">add some books to your
                portfolio.</a></p>
    </div>
    {{/unless}}
    <!-- End Default Light Table -->
    <!-- Default Dark Table -->

    <!-- End Default Dark Table -->
</div>